*,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body {
      font-family: 'Arial', sans-serif;
      background-image: url("img/paint.webp");
/*       background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 16px;
      max-width: 500px;
      margin: 0 auto; */
      padding: 16px;
      max-width: 500px;
      margin: 0 auto;

      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      height: 100vh;
    }

    h1 {
      font-size: 25px;
      font-weight: 600;
      background-color: white;
      border-radius: 20px;
      margin: 20px;
      padding: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      img {
        width: 30px;
        height: auto;
      }
    }


    canvas {
      background: #fff;
      width: 100%;
      height: auto;
      max-width: 1200px;
      max-height: 800px;
      border: 1px solid #000;
    }

    header {
      grid-area: header;
      background: silver;
      padding: 2px;

      button {
        border: 0;
        background: transparent;

        &:hover {
          box-shadow:
            1px 1px black,
            inset -1px -1px gray,
            inset 1px 1px white;
        }
      }
    }

    main {
      grid-area: main;
      padding: 16px;
    }

    footer {
      grid-area: footer;
      background: silver;
      padding: 4px;
    }


    #container {
      background-color: #222;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid #808080;
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

    aside {
      background: silver;
      grid-area: aside;
      width: 52px;
      padding-top: 2px;

      nav {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        justify-content: center;
      }

      button {
/*         width: 24px;
        height: 18px; */

        width: 34px;
        height: 28px;

        background: #bdbdbd url('/img/draw.png') no-repeat center;

        border: 1.5px solid #eee;
        border-right-color: #000;
        border-bottom-color: #000;

        image-rendering: pixelated;

        &.active {
          background-color: #eee;
          border-color: #000;
          border-right-color: #eee;
          border-bottom-color: #eee;
        }

        &[disabled] {
          pointer-events: none;
          opacity: .5;
        }
      }
    }

    #erase-btn {
      background-image: url('./img/erase\ \(1\).png');
    }

    #rectangle-btn {
      background-image: url('/img/rectangle\ \(1\).png');
    }

    #ellipse-btn {
      background-image: url('/img/ellipse.png');
    }

    #picker-btn {
      background-image: url('/img/picker.png');
    }

    #clear-btn {
      background-image: url('/img/trash1.png');
      background-size: 18px;
    }